html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;

    color: #686868;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .8px;
}

input,
textarea {
    display: block;
    width: 100%;
}

input::-ms-clear {
    display: none;
}

*:focus {
    outline: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

template {
    display: none;
}

.layout {
    height: 100%;
}

.layout__body {
    max-width: 780px;
    min-height: 100%;
    width: 90%;
    margin: 0 auto;
}

.layout__wrapper {
    margin: 0 auto;
    padding: 180px 0 60px;
}

.control {
    padding-bottom: 10px;

    border: none;
    border-bottom: 2px solid #333;
    font-size: 28px;
    text-align: center;
}

.login {

}

.login__wrapper {
    max-width: 440px;
}

.login__title {
    color: #000;
    font-size: 48px;
    text-align: center;
}

.login__input {
    margin-top: 55px;
}

.chat {

}

.chat__online {
    padding: 10px;

    background-color: #f7f7f7;
    color: #999;
    font-size: 18px;
}

.chat__online a {
    margin-left: 30px;

    color: #333;
    text-decoration: none;
}

.chat__input {
    position: relative;
    margin-top: 25px;
}

.chat__input .control {
    text-align: left;
}

.chat__messages {
    height: 350px;
    padding: 0;

    list-style-type: none;
    overflow: auto;
}

.chat__item {
    font-size: 18px;
}

.chat__item:not(:first-child) {
    margin-top: 10px;
}

.chat__item-name {
    color: #9C27B0;
    font-size: 24px;
}

.chat__item-name._new-message {
    color: #009688;
}

.chat__item._service {
    color: #b2b2b2;
    font-style: italic;
    text-align: center;
}

.chat__item-text {
    margin-left: 10px;
}

.chat__item._service .chat__item-text {
    margin-left: 0;
}

.rooms {

}

.rooms__input {
    position: relative;
}

.rooms__input .control {
    text-align: left;
}

.rooms__list {
    margin: 40px 0 0;
    padding: 0;

    font-size: 24px;
    list-style-type: none;
}

.rooms__item {
    position: relative;

    color: #333;
    cursor: pointer;
}

.rooms__item-btn {
    position: absolute;
    top: -3px;
    right: 0;

    font-size: 32px;
    transform: rotateZ(45deg);
}

.component-fade-enter-active,
.component-fade-leave-active {
    transition: all .3s cubic-bezier(0.27, 0.02, 0.35, 1.01);
}

.component-fade-enter,
.component-fade-leave-to {
    transform: translateX(40px);
    opacity: 0;
}

.send {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 12px;
    right: 0;

    background: url(http://www.iconninja.com/files/311/535/792/fly-send-messager-icon.svg) no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}